body {
    background-color: white;
}

.h1 {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI';
    font-weight: 900;
}

.color-tray {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
    margin: 25px;
    padding: 3px 12px;
    border-radius: 6px;
}

.input {
    padding: 3px 12px;
    border-radius: 6px;
}